@import "tailwindcss";
@import "tw-animate-css";
@import "./normalize.css";
/* 
--color-shakespeare-50: #f4f7fb;
--color-shakespeare-100: #e8eff6;
--color-shakespeare-200: #cbdeec;
--color-shakespeare-300: oklch(0.798 0.054 237.18);
--color-shakespeare-400: #6ca5c9;
--color-shakespeare-500: #4587b2;
--color-shakespeare-600: #346c95;
--color-shakespeare-700: oklch(0.4413 0.0745 243.99);
--color-shakespeare-800: oklch(0.3954 0.0614 243.52);
--color-shakespeare-900: #253f55;
--color-shakespeare-950: #182939;

*/
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-raleway: var(--font-raleway);
  --font-sans: var(--font-mona-sans), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-kalnia), ui-serif, serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Kalnia, ui-serif, serif;
  --radius: 0.925rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-temerald-50: oklch(0.9822 0.0172 159.13);
  --color-temerald-100: oklch(0.9627 0.0425 158.08);
  --color-temerald-200: oklch(0.9253 0.0797 156.69);
  --color-temerald-300: oklch(0.8712 0.1363 154.45);
  --color-temerald-400: oklch(0.8003 0.1821 151.71);
  --color-temerald-500: oklch(0.7226 0.1929 149.39);
  --color-temerald-600: oklch(0.6269 0.1708 149);
  --color-temerald-700: oklch(0.5271 0.138 149.77);
  --color-temerald-800: oklch(0.4477 0.1093 150.89);
  --color-temerald-900: oklch(0.3921 0.0918 151.39);
  --color-temerald-950: oklch(0.2659 0.0652 151.17);

  --color-shakespeare-50: #f4f7fb;
  --color-shakespeare-100: #e8eff6;
  --color-shakespeare-200: #cbdeec;
  --color-shakespeare-300: oklch(0.798 0.054 237.18);
  --color-shakespeare-400: #6ca5c9;
  --color-shakespeare-500: #4587b2;
  --color-shakespeare-600: #346c95;
  --color-shakespeare-700: oklch(0.4413 0.0745 243.99);
  --color-shakespeare-800: oklch(0.3954 0.0614 243.52);
  --color-shakespeare-900: #253f55;
  --color-shakespeare-950: #182939;
}

:root {
  --font-sans: var(--font-mona-sans), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-kalnia), ui-serif, serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --shadow-color: rgba(29, 161, 242, 0.15);
  --radius: 0.925rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.8002 0.183 151.4742);
  --primary-foreground: oklch(0.2103 0.0059 285.8852);
  --secondary: oklch(0.7381 0.1491 241.5426);
  --secondary-foreground: oklch(0.9751 0.0127 244.2507);
  --muted: oklch(0.9451 0.0013 286.3752);
  --muted-foreground: oklch(0.552 0.0153 285.8863);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.583 0.2387 28.4765);
  --border: oklch(0.952 0 0);
  --input: oklch(0.9197 0.004 286.3202);
  --ring: oklch(0.7057 0.0144 286.0246);
  --chart-1: oklch(0.798 0.054 237.18);
  --chart-2: oklch(0.8003 0.1821 151.71);
  --chart-3: oklch(0.7226 0.1929 149.39);
  --chart-4: oklch(0.6269 0.1708 149);
  --chart-5: oklch(0.3954 0.0614 243.52);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.1408 0.0044 285.8229);
  --sidebar-primary: oklch(0.2103 0.0059 285.8852);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9674 0.0013 286.3752);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8852);
  --sidebar-border: oklch(0.9197 0.004 286.3202);
  --sidebar-ring: oklch(0.7057 0.0144 286.0246);
  --destructive-foreground: oklch(1 0 0);
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --tracking-normal: 0em;
}

.dark {
  --font-sans: var(--font-mona-sans), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-kalnia), ui-serif, serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --background: oklch(0.1408 0.0044 285.8229);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2103 0.0059 285.8852);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2103 0.0059 285.8852);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.8002 0.183 151.4742);
  --primary-foreground: oklch(0.2103 0.0059 285.8852);
  --secondary: oklch(0.6963 0.0798 237.2314);
  --secondary-foreground: oklch(0.994 0 0);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7057 0.0144 286.0246);
  --accent: oklch(0.2739 0.0055 286.0326);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7022 0.1892 22.2279);
  --border: oklch(0.2351 0.0115 91.7467);
  --input: oklch(0.4017 0 0);
  --ring: oklch(0.552 0.0153 285.8863);
  --chart-1: oklch(0.798 0.054 237.18);
  --chart-2: oklch(0.8003 0.1821 151.71);
  --chart-3: oklch(0.7226 0.1929 149.39);
  --chart-4: oklch(0.6269 0.1708 149);
  --chart-5: oklch(0.4413 0.0745 243.99);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.4878 0.2432 264.4045);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(1 0 0);
  --sidebar-ring: oklch(0.552 0.0153 285.8863);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.925rem;
  --shadow-color: rgba(29, 161, 242, 0.25);
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
}

@layer base {
  * {
    /* margin: 0;    padding: 0; */
    /* font-family: var(--font-sans); */
    @apply border-border outline-ring/50 font-sans;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  .txt-idk {
    /* font-family: var(--font-raleway); */
    @apply max-w-lg scroll-m-20 text-4xl  font-semibold tracking-tight  pb-2 first:mt-0 leading-5 text-foreground text-balance;
  }
  .txt-idk-2 {
    /* font-family: var(--font-raleway); */
    @apply max-w-sm scroll-m-20 text-3xl  font-semibold tracking-tight  pb-2 first:mt-0 leading-10 text-foreground text-balance;
  }
  .txt-h1 {
    /* font-family: var(--font-raleway); */
    @apply max-w-xs scroll-m-20 text-3xl  font-semibold tracking-tight border-b pb-2 first:mt-0 leading-10 text-foreground text-balance;
  }
  .txt-h2 {
    /* font-family: var(--font-raleway); */
    @apply scroll-m-20 border-b pb-2 text-2xl font-medium tracking-tight first:mt-0;
  }
  .txt-base {
    /* font-family: var(--font-sans); */
    @apply max-w-md text-base leading-8 text-foreground/80;
  }
  .txt-strong {
    @apply font-medium text-foreground;
  }

  .link {
    @apply underline underline-offset-3 decoration-2  hover:text-accent-foreground transition-colors;
  }
}

/* 
:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.8002 0.1830 151.4742);
  --primary-foreground: oklch(0.2103 0.0059 285.8852);
  --secondary: oklch(0.7582 0.1385 239.9700); oklch(0.7582 0.1385 239.97)
  --secondary-foreground: oklch(0.9940 0 0);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5520 0.0153 285.8863);
  --accent: oklch(0.9674 0.0013 286.3752);
  --accent-foreground: oklch(0.7582 0.1385 239.9703);
  --destructive: oklch(0.5830 0.2387 28.4765);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9197 0.0040 286.3202);
  --input: oklch(0.9197 0.0040 286.3202);
  --ring: oklch(0.7057 0.0144 286.0246);
  --chart-1: oklch(0.6471 0.2173 36.8511);
  --chart-2: oklch(0.6049 0.1070 184.1653);
  --chart-3: oklch(0.3972 0.0698 227.1914);
  --chart-4: oklch(0.8290 0.1712 81.0381);
  --chart-5: oklch(0.7724 0.1728 65.3670);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.1408 0.0044 285.8229);
  --sidebar-primary: oklch(0.2103 0.0059 285.8852);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9674 0.0013 286.3752);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8852);
  --sidebar-border: oklch(0.9197 0.0040 286.3202);
  --sidebar-ring: oklch(0.7057 0.0144 286.0246);
  --font-sans: Mona Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: rgba(29,161,242,0.15);
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1408 0.0044 285.8229);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2103 0.0059 285.8852);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2103 0.0059 285.8852);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.8002 0.1830 151.4742);
  --primary-foreground: oklch(0.2103 0.0059 285.8852);
  --secondary: oklch(0.7582 0.1385 239.9700);
  --secondary-foreground: oklch(0.9940 0 0);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7057 0.0144 286.0246);
  --accent: oklch(0.2739 0.0055 286.0326);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7022 0.1892 22.2279);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2351 0.0115 91.7467);
  --input: oklch(0.4017 0 0);
  --ring: oklch(0.5520 0.0153 285.8863);
  --chart-1: oklch(0.4878 0.2432 264.4045);
  --chart-2: oklch(0.7019 0.1577 160.4375);
  --chart-3: oklch(0.7724 0.1728 65.3670);
  --chart-4: oklch(0.6217 0.2589 305.3090);
  --chart-5: oklch(0.6435 0.2452 16.5010);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.4878 0.2432 264.4045);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.5520 0.0153 285.8863);
  --font-sans: Mona Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: rgba(29,161,242,0.25);
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
*/
